body {
    background-color: whitesmoke;
}
button {
    color: whitesmoke;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
}
.container {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(248, 239, 214);
    border-radius: 16px;
    border: 1px solid gainsboro;
    max-width: 80%;
    height: 60vh;
}
.sil {
    background-color: crimson;
    color: whitesmoke;
    border: 1px solid gainsboro;
    width: 40px;
    padding: 5px;
    margin:0 3px;
    border-radius: 8px;
    float: right;
}
.duzenle {
    background-color: orange;
    color: whitesmoke;
    border: 1px solid gainsboro;
    width: 80px;
    padding: 5px;
    margin:0 3px;
    border-radius: 8px;
    float: right;

}
.tamamla {
    background-color: green;
    color: whitesmoke;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 5px;
    margin:0 3px;
    border-radius: 8px;
    float: right;
}
.ekle {
    background-color: royalblue;
    color: whitesmoke;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
}
#alisverisListe li{
    list-style: decimal;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
    margin: 3px 0;
    height: 25px;
    font-weight: 600;
}


.tamamlandi {
    background-color: seagreen !important;
    color: whitesmoke;
}

#listItemInput {
    margin: 0 0 40px 40px;
    border: 1px solid gainsboro;
    border-radius: 8px ;
    padding: 10px;
    width: 80%;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}
#yorum {
    margin: 3px 40px;
    height: 25px;
    font-weight: 600;
}