@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html {
    scroll-behavior:smooth;
  }
body {
    margin: auto;
    font-family: "Rubik", sans-serif;
    background-color: whitesmoke;
    caret-color: transparent;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
    opacity: 0.99;
}
.navbar {
    width: 80%;
    margin: 10px auto;
    margin-inline: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);

}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    max-width: 99%;
    padding: 0;
    margin: 10px auto;
}

.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar a {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    padding: 8px;
    margin-left: 5px;
    transition: linear 0.2s;
}
.navbar a:hover {
    color: white;
    background-color: #000;
    border-radius: 6px;

}
.navbar a:active {
    color: white;
    background-color: #5c5c5c;
    border-radius: 6px;

}
@media (max-width: 800px) {
    .navbar {
    width: 98%;
    }
    .navbar ul {
    max-width: 98%;
    text-wrap: nowrap;
    }
    .navbar a{
    margin: 0 auto;
    font-size: 0.9em;
    }
  }
.main {
    max-width: 80%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin: 15px auto;
    padding-top: 6%;
}
@media (max-width: 800px) {
    .main {
      max-width: 98%;
    }
  }
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 100px 0;
}
.home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 100px 0;
}
@media (max-width: 800px) {
    .home-content {
      height:100%;
    }
  }
.home-content ul {
    width: 90%;
    margin: 0;
    padding: 0px;
}

.home-content li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 10px;
    border-bottom:1px solid rgb(226, 226, 226);
    font-weight: 200;
    text-align: center;
}
.home-content h1 {
    font-weight: 500;
    margin: 15px;
}
.home-content a {
    color: #000;
    font-size: 1.3em;
    padding: 2px;
}
.content ul {
    width: 90%;
    margin: 0;
    padding: 0px;
}

.content li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 10px;
    border-bottom:1px solid rgb(226, 226, 226);
    font-weight: 200;
    text-align: center;
}
.content h1 {
    font-weight: 500;
    margin: 15px;
}
.content a {
    color: #000;
    font-size: 1.3em;
    padding: 2px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex: 35%;
}
.profile-pic {
    border-radius: 500px;
    border: 5px solid silver;
    width: 360px;
    height: auto;
    margin: 20px 0;
    filter: grayscale(100%);
    transition: ease 1s;
}
.profile-pic:hover{
    filter: grayscale(0%);
    border: 5px solid #1a1a1a;
    
}
.title {
    font-size: 2em;
    margin: 0 10px;
    padding: 20px;
    width: 100%;
    flex: 52%;
    z-index: 12;
}
.title p{
    text-wrap: wrap;
    padding: 0;
    font-size: large;
    font-weight: 100;
    margin: 20px 0;
    line-height: 1.8;
}
.title h1 {
    margin: 0;
    text-align: start;
}
.title h2 {
    font-weight: 300;
    margin: 20px 0;
}
.title h4 {
    margin: 20px 0;
    padding: 0;
    font-weight: 200;
}
.title-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0;
}
/*about*/
.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 100px 0;
}
@media (max-width: 800px) {
    .about-content {
      height:100%;
    }
  }

/*experiences*/
.experiences-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px 0;
}
.experiences-content h2 {
    text-align: center;
    font-weight: 300;
    padding: 10px;
    margin: 20px 0;
    font-size: 2em;
}
.experiences-content h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.experiences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 98%;
    margin: 30px 0;
}
.exp-card {
    background-color: whitesmoke;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}
.exp-card h3 {
    font-weight: 400;
    padding: 2px;
    margin: 0;

}
.exp-card h4, h5 {
    font-weight: 100;
    padding: 2px;
    margin: 0;
    text-wrap: wrap;
}
.edu {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.left, .right {
    flex: 40% ;
}
@media (max-width: 800px) {
    .left, .right {
      max-width: 98%;
    }
  }

  /* skills */
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 40%;
}
.container { 
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
} 

.skill { 
 
    color: white; 
    padding: 1px; 
    text-align: right; 
    font-size: 1em; 
    border-radius: 15px; 
} 

#html { 
    width: 90%;
    background-color: black; 
}
#js {
    width: 80%;
    background-color: rgb(30, 30, 30); 
}
#react {
    width: 80%;
    background-color: rgb(30, 30, 30); 
}
#sql {
    width: 60%;
    background-color: rgb(70, 70, 70); 
}
#csharp {
    width: 60%;
    background-color: rgb(70, 70, 70); 
}
#python {
    width: 50%;
    background-color: rgb(102, 102, 102); 
}
#com { 
    width: 85%;
    background-color: rgb(30, 30, 30);  
}
#prob { 
    width: 90%;
    background-color: black; 
}
#time { 
    width: 75%;
    background-color: rgb(70, 70, 70); 
}
#team { 
    width: 90%;
    background-color: black; 
}
#cre { 
    width: 90%;
    background-color: black; 
}
    

/*portfolio*/
.portfolio {
    max-width: 1600px;
    margin-inline: auto;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.portfolio-content {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.portfolio-content h2 {
    text-align: center;
    font-weight: 300;
    padding: 10px;
    margin: 20px 0;
    font-size: 2em;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline: auto;
    padding-inline: 24px;
}
@media (max-width: 800px) {
    .portfolio-list {
      flex-direction: column;
    }
  }

.portfolio-card {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    height: 450px;
    margin: 10px;
    flex: 30%;
    flex-grow: 0;
}
@media (max-width: 800px) {
    .portfolio-card {
      flex: 100%;
    }
  }

.portfolio-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.portfolio-image {
    overflow: hidden;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.portfolio-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: ease 0.5s;
}
.portfolio-image img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}
.portfolio-text {
    height: 25%;
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
}
.portfolio-text h3 {
    margin-top: 5px;
}
.portfolio-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-button a {
    width: 100%;
    text-align: center;
}
.portfolio-content button {
    width: 95%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*contact*/
.contact-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 100px 0;
}
@media (max-width: 800px) {
    .contact-content {
      height:100%;
    }
  }

.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input, textarea {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid rgb(202, 202, 202);
    font-family: "Rubik", sans-serif;
}
.contact-form button {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #000;
    color: white;
    border: 1px solid rgb(202, 202, 202);
    cursor: pointer;
}

.name {
    display: flex;
    flex-direction: row;
}
.name input {
    width: 49%;
}
.social {
    padding: 10px;

}
.social a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 100;
    margin: 2px;
    color: #000;    
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

/*buttons*/
#github {
    padding:12px 14px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 0;
    border-radius: 50px;
    font-size: 0.4em;
    cursor: pointer;
}
#linkedin {
    padding:12px 14px;
    background-color: #0072b1;
    color: white;
    border: 0;
    border-radius: 50px;
    font-size: 0.4em;
    cursor: pointer;
}
#instagram {
    padding:12px 14px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    border: 0;
    border-radius: 50px;
    font-size: 0.4em;
    cursor: pointer;
}