body {
    background-color: black;

}
h1 {
    position: absolute;
    font-size: 2.4em;
    color: whitesmoke;
    mix-blend-mode: difference;
}
.main {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}
#circle {
    left: -200px;
    z-index: -1;
    position: relative;
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation:hareket 7s infinite;
}

@keyframes hareket {
    0%   {transform: translateX(0px);}
    50%  {transform: translateX(400px);}
    100% {transform: translateX(0px);}
}