body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
li {
    margin: 2px 0;
    padding: 5px;
    list-style: none;
}
li:hover {
    background-color: #007BFF;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}
.selected {
    background-color:#0056b3;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: #333;
}

.card {
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h2 {
    color: #007BFF;
}

form, .filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#removeFlightButton {
    align-self: center;
}
