body {
  background-color: whitesmoke;
}
.ilan img {
  height: 100px;
  width: 150px;
}
.ilan a {
  text-decoration: none;
  padding: 8px;
}
.ilan a:hover {
  scale: 1.05;
}

.liste {
  cursor: pointer;
}
.ara {
  background-image: url("images/search-bg.jpg");
  opacity: 0.9;
}